html, body, #root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  display:flex;
  flex-direction: column;
  
}
h2{
  font-family: 'Arial', sans-serif;
  font-size: 35px;
  color: black;
}
body{
  background-color: rgb(24, 20, 20);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainheader{
  width: 50vw;
  height: 25vh;
  background-color:gray;
  display: flex;
  justify-content:  center;
  align-items: flex-end;
  border-radius: 10px;
  border: 2px solid white;
  flex-direction: column;

}

#dropDownDiv{
  background-color: blue;
  width: 150px;
  height: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-radius: 10px;
  font-size: 20px;
}

#CreateNoteButton{
  width: 150px;
  height: 100px;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
#CreateNoteDiv{
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerDiv2{
  display: flex;
  flex-direction: row;
  height: 12.5vh;
  width: 50vw;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 10px;
}

.headerDiv1{
  height: 12.5vh;
  width: 50vw;
}
select{
  height: 27px;
  background-color: rgb(24, 20, 20);
  color: white;
}

label{
  padding-bottom: 5px;
}

.mainbody{
  width: 50vw;
  height: 30vh;
  background-color: gray;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid white;
}
textarea{
  width: 90%;
  height: 80%;
  margin-top: 10px;
  background-color: rgb(24, 20, 20);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

#courseDiv{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100px;
  
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
}
input{
  width: 150px;
  height: 47.5px;
  background-color: rgb(24, 20, 20);
  color: white;
  
  
  padding: 0;
  margin: 0;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

#AddCourseButton{
  width: 150px;
  height: 47.5px;
  background-color: blue;
  border-radius: 10px;
  color: white;
  padding: 0;
  margin: 0;
  
  
}
form{
  width: 150px;
}

#addNoteButton{
  width: 150px;
  height: 50px;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
#addNoteDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

#showNoteDiv{
  margin-top: 10px;
  width: 50vw;
  
  
  background-color: gray;
  border-radius: 10px;
  border: 2px solid white;
  
  text-align: left;
  height: 36vh;
  overflow-y: auto;
}

#noteDivActual{
  border: 2px solid black;
  padding-left: 10px;
}
#bothButtonsDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

#noteDivListSession{
  border: 2px solid black;
  padding-left: 10px;
  margin-bottom: 5px;
  background-color: aliceblue;
  color: black;
}

#startSessionDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 12.5vh;
}

#listNotesDiv{
  background-color: blue;
  width: 150px;
  height: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-radius: 10px;
  font-size: 20px;
}
#noteDivCanDelete{
  border: 2px solid black;
  padding-left: 10px;
  background-color: lightgray;
  margin-bottom: 5px;
  width: 70%;
}

#noteDivMother{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50vw;
  gap: 20px;
}

#deleteButton{
  width: 45px;
  height: 45px;
  background-color: red;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
}
